@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to right, rgb(3, 3, 55), black 60%);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 150%;
}
