@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .body {
    @apply max-w-[100vw] min-h-screen z-0 flex flex-col justify-center items-center bg-gray-i-900 text-white px-1;
  }

  .custom-gradient {
    @apply bg-gradient-to-r from-teal-400 from-20% to-blue-700 to-80%
  }

  .custom-text {
    @apply bg-clip-text text-transparent 
  }

  .img-projects-bg {
    background-image: url("../public/header-bg.png")
  }

  .bg-text-gradient {
    background-image: -o-linear-gradient();
  }

  .img-code-bg {
    background-image: url("../public/pexels-markus-spiske-12081657.jpg");
  }

  .custom-scroll-gradient {
    @apply bg-gradient-to-b from-teal-400 from-20% to-blue-700 to-80%
  } 

  .scrollbar-thumb-gradient::-webkit-scrollbar-thumb {
    @apply custom-scroll-gradient
  }

  /* .bg-position {
    @apply bg-right -10% center
  } */
  
}
